@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.home_button + .home_button {
  margin-left: 0.5rem;
}

.image_spacing + .image_spacing {
  margin-top: 1.5rem;
}
